body{

margin:0;
background:black;
overflow:hidden;
font-family:Arial;

}

.ui{

position:absolute;
top:20px;
left:20px;
z-index:10;
color:white;

background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);

padding:20px;
border-radius:10px;

}

h1{

font-size:40px;

background:linear-gradient(90deg,cyan,magenta);

-webkit-background-clip:text;

color:transparent;

}

button{

padding:10px 20px;

background:cyan;

border:none;

border-radius:6px;

cursor:pointer;

}